

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");




body {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    color: #6B708D;
    background-color: #F2F4FC;
  }

  /* Falta revisar mida de les fonts*/
a {
  color:#072AC8;
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

  h1 {
    color: #292E47;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    
  }
  h2 {
    color: #292E47;
    font-size: 50px;
    text-align: center;
    line-height: 4em;

  }
  h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color:#292E47;
  }

  h4 {
    font-size: 24px;
    font-weight: 500;
  }

  p {
    line-height: 30px;
  }

  .body-regular {
    font-size: 20px;
    font-weight: 400;
  }

  header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 40px;
  }


  header a {
    font-size: 17px;
    font-weight: 500;
    color: #6B708D;
  }

  header ul li {
margin: 0px 12px;
  }

  .item-menu:hover {
    color: #FFC600;
      }



.button {
  background-color: #072AC8;
  color: white;
  padding: 10px 15px;
  font-size: 0.8em;
  text-decoration: none;
  margin-top: 40px;

}


#nav-bar ul {
  list-style-type: none;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;

}



.button-nav-bar {
  background-color: #072AC8;
  color: white;
  padding: 10px 15px;
  font-size: 0.8em;
  text-decoration: none;
  margin-top: 40px;

}

@media (max-width: 768px) {
  .button-nav-bar {
    display:none;
  }
}



@media (max-width: 768px) {
  .emoji {
    display: none;
    width: 100px;
    height: 100px;
  }
  }

/* HERO SECTION */

#hero-section {
  margin: 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

@media (min-width: 768px) {
  #hero-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 80px 10px;
  }
}


.heading-img {
  position: relative;
}

@media (min-width: 768px) {
  .heading-img {
    position: relative;
    margin-left: 170px;
  }
}

 .hero-image {
    width: 300px;
    height: auto;
 }

 @media (min-width: 768px) {
  .hero-image {
    width: 400px;
    height: auto;
 }
}

 .card-image {
    top: -20px;
    left: -60px;  
    width: 190px;
    height: auto;
    position: absolute;
 }

 @media (min-width: 768px) {
  .card-image  {
    top: -30px;
    left: -90px;  
    width: 290px;
    height: auto;
    position: absolute;
  }
}

 .card-image-2 {
    bottom: -60px;
    right: -80px;
    width: 190px;
    height: auto;
    position: absolute;
}

@media (min-width: 768px) {
  .card-image-2 {
    bottom: -100px;
    right: -90px;
    width: 290px;
    height: auto;
    position: absolute;
  }
}

.heading {
  text-align: center;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .heading {
    text-align: left;
    margin: 40px;
  }
}

.heading a {
  margin-top: 40px;
}

.heading p{
  padding-bottom: 20px;
}

.link-btn {
  color: #6B708D;
  font-size: 0.8em;
  margin-left: 30px;
}


/* LOGO SECTION */

#client-logos {
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
align-content: center;
margin-top: 70px;
}

@media (max-width: 768px) {
  #client-logos {
    display: none;
  }
  }

.logo-client {
margin: 10px 5px;
filter: grayscale(100%);
}

/* PROJECTS SECTION

Aquí em passa que el learn more
vull que quedi més avall i el titol i text més junts*/



#projects-section h3 {
  text-align: center;
}

@media (min-width: 768px) {
#projects-section h3 {
  text-align: left;
  margin-left: 60px;
}
}

.projects-items {
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-content: center;
text-align: left;
padding: 2rem 3rem;
}

@media (min-width: 768px) {
  .projects-items {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    padding: 2rem 2rem;

  }
}

.projects-img {
  height: auto;
  max-width: 100%;
  
  }

  .projects-img-3 {
    height: 327px;
    width: 249px;
    object-fit: none;
  
  }

.projects-article {
background-color: white;
text-align: left;
box-shadow: 2px 49px 79px 0px rgba(41,46,71,0.20);
margin: 30px;
height: 470px;
width: 390px;

}


#projects-section div{
  padding: 30px;

}

.projects-article h4{ 
  color: #292E47;
  margin-top: -10px;

}

.projects-article a{ 
  padding-top: 4rem;

}


/* CLIENTS SECTION */

/*Pendent fer el flex i ajustar les imatges*/


#clients-section {

background-image: url(/project-assets/testimonial-section/orbit.png);
background-position: cover;
background-color: #292E47;
text-align: center;
padding: 100px;
display: flex;
flex-direction: column;
align-items: center;
align-content: center;
}


@media (min-width: 768px) {
  #clients-section {
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 50px;
  margin-bottom: 120px;

  }
}

.clients-container {
  position: relative;
}


#clients-section h4 {
  color:#FFC600;
  font-size: 24px;
  font-weight: 500;
}

#clients-section h3 {
  color: white;
}

#clients-section p {
  color: #A2D6F9;
  -webkit-text-stroke: 0.5px black;
  font-size: 17px;
  font-weight: 400;
  margin-top: 60px;
  margin-bottom: 3px;

}

#clients-section a {
  color: white;
  font-size: 13px;
  font-weight: 400;


}

/* Primer ajustar la imatge perquè sigui quadrada 
per després poder fer el marc rodó*/

.client-img  img {
  width: auto;
  height: 100%;
  margin-left: -10px;

}

.client-img  {
  position: absolute;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}


@media (max-width: 768px) {
.client-img  {
  position: absolute;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;

}
}




.emoji1 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -50px;
  left: -230px;

}


.emoji2 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -50px;
  right: -230px;
}

.emoji3 {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: -50px;
  left: -230px;
}

.emoji4 {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: -50px;
  right: -230px;
}


@media (max-width: 768px) {
.emoji {
  display: none;
  width: 100px;
  height: 100px;
}
}



/*SERVICES SECTION*/


.services-items{
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  margin: 30px;
}



@media (min-width: 768px) {
  .services-items {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px;

  }
}

#services-section article {
  margin-bottom: 120px;
  margin-top: 30px;
  margin-left: 30px;
  text-align: left;
  background-color: white;
  padding: 20px;
  box-shadow: 2px 49px 79px 0px rgba(41,46,71,0.20);
  height: 300px;
  width: 300px;
  justify-content: space-around;
}



#services-section h3 {
  text-align: center;
}

@media (min-width: 768px) {
#services-section h3 {
text-align: left;
margin: 60px;
}
}


#services-section h4 {
  color: #292E47;

}

#services-section p {
  color: #6B708D;
  font-size: 20px;
  font-weight: 400;

}

#services-section a {
  font-size: 17px;
  font-weight: 400;
}



#services-section img {
  width: 30px;
  height: 30px;
  padding: 10%;
  background-color: #ECF7FF;
}
.icon-div {
  width: 40px;
  height: 40px;
  padding: 5%;
  border-radius: 50%;
  background-color: #F2F4FC;
  object-fit: scale-down;

  }


/* QUESTIONS SECTION */

/* Falta arreglar el form, no sé per què no se'm mostra */


#questions-section {
    background-color: #FFC600;
    text-align: center;
    padding: 75px 60px;
  }

  @media (min-width: 768px) {
    #questions-section {
    margin: 30px;
    }
  }

  #questions-section h3 {
   color: #292E47;
  }

  #questions-section p {
    color: #292E47;
    font-weight: 400;
    font-size: 20px;
    margin-top: -25px;
   }

   #email {
    border: none;
    width: 300px;
    height: 53px;

   }

   #email::placeholder {
    background-image: url(/project-assets/newsletter/icon/mail.svg);
    background-repeat: no-repeat;
    background-size: 23px 23px;
    background-position: 0.5rem center;
    padding-left: 35px;

   }

.subscribe-btn {
  background-color: #072AC8;
  color: white;
  padding: 20px 25px;
  font-size: 0.8em;
  text-decoration: none;
  margin-top: 40px;
  margin-left: 6px;
  border: none;
}

/* FOOTER SECTION */

footer {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px 40px;
  text-align: center;
  align-items: center;
}

@media (min-width: 768px) {
  footer {
    margin: 30px 40px;
    padding-top: 100px;
    display:flex;
    flex-direction: row;
    text-align: left;
  }
}


footer a {
  color: #6B708D;
  padding: 10px;
}

@media (max-width: 768px) {
.footer-links a {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  text-align: center;
  align-items: center;
}
}


@media (min-width: 768px) {
.links-1{
  text-align: left;
  margin-top: 10px;

  }
}
  @media (min-width: 768px) { 
  .links-2{
    text-align: left;
    margin-top: 30px;

  
  }
}
  


/* INDEX 2.HTML - PROJECTS*/

/* HEADING SECTION */

#heading-2 {
  margin: 60px;
}

#heading-title {
  text-align: left;
  margin-left: 60px;
  
  }

  

heading h1 {
  color: #292E47;
  text-align: center;
}


@media (min-width: 768px) {
  heading h1 {
    text-align: left;
  }
}

heading h4 {
  text-align: center;
}

@media (min-width: 768px) {
  heading h4 {
    text-align: left;
  }
}


.date{
  font-size:20px;
  font-weight: 400px;
  text-align: center;
}

@media (min-width: 768px) {
.date {

  text-align: right;
}
}

.date {
  color: #292E47;
}
.date a{
  color: #6B708D;
}

.heading2-img {
  width: 100%;
  height: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

#heading-2 div {
  padding: 30px;
  align-items: center;

}

/* HEADING-SECTION INDEX 2.HTML */


/* Tema imatge no sé com solucionar-ho */



.text-body {
  text-align: justify;
  line-height: 1.75;
  margin-top: 60px;
  color: #6B708D;
}


/* INDEX 3.HTML - CONTACT US*/

#contact-us-section {
width: 85%;
margin-left: 60px;
text-align: left;
}


#container-form {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.input {
  background-color: rgba(107, 112, 141, 0.1);
  color:#6B708D;
  border: none;
  padding: 10px;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  padding-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;

}



@media (min-width: 768px) {
#input-half{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
}

@media (min-width: 768px) {
#input-half div{
  width: 100%;
}
}

@media (min-width: 768px) {
#email-form{
  box-sizing: border-box;
  padding-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 10px;
  width: 100%;
}
}
@media (min-width: 768px) {
#phone-form{
  box-sizing: border-box;
  padding-left: 20px;
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 98%;
}
}


#message-form {
  font-family: 'Roboto';
  height: 30%;
  padding-top: 20px;
}


.submit-btn {
  background-color: #072AC8;
  color: white;
  padding: 20px 80px;
  font-size: 0.8em;
  text-decoration: none;
  margin-top: 40px;
  margin-left: 6px;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  width: 100%;
}

