

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    color: #6B708D;
    background-color: #F2F4FC;
  }

  /* Falta revisar mida de les fonts*/
a {
  color:#072AC8;
  text-decoration: none;
}

  h1 {
    color: #292E47;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    
  }
  h2 {
    color: #292E47;
    font-size: 3em;
    text-align: center;
    line-height: 4em;

  }
  h3 {
    color: #292E47;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
  }

  p {
    line-height: 30px;
  }


  header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 30px;
  }

/* Inici menú hamburguesa */

/* Problema pendent de solucionar: quan es desplega 
el menú desplegable, baixa el botó de Contact Us.

Voldria que per mobile el Contact Us em sortís a baix
de tot del menú hamburguesa */

ul {
  display: none;
}

input:checked  ~ ul {
  display:block;
}

input {
  display: none;
}

label {
  box-sizing: border-box;
  display: inline-block;
  border: none;
  width: 50px;
  height: 50px;
  line-height: 30px;
  text-align: left;
  user-select: none;
}

label:hover {
  color: #FFC600;
}

li {
  display: block;
  background: #F2F4FC;
  padding: 10px;
  list-style: none;
  border-bottom: 0.5px solid #FFC600;
}

.button {
  background-color: #072AC8;
  color: white;
  padding: 10px 15px;
  font-size: 0.8em;
  text-decoration: none;
  margin-top: 40px;

}


/* Fi del menú hamburguesa */

/* HERO SECTION */

#hero-section {
  margin: 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.heading-img {
  position: relative;
}

 .hero-image {
    width: 300px;
    height: auto;
 }

 /* Crec que això està fatal però de moment funciona */
 .card-image {
    top: -10px;
    left: -50px;  
    width: 190px;
    height: auto;
    position: absolute;
 }

 .card-image-2 {
    bottom: -60px;
    right: -60px;
    width: 190px;
    height: auto;
    position: absolute;
}

.heading {
  text-align: center;
}

.heading a {
  margin-top: 40px;

}

.link-btn {
  color: #6B708D;
  font-size: 0.8em;
}

/* LOGO SECTION 
A LA VERSIÓ MOBILE NO VAN */

#client-logos {
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
align-content: center;
margin-top: 70px;
}

.logo-client {
margin: 10px 5px;
filter: grayscale(100%);
}

/* PROJECTS SECTION

Aquí em passa que la tercera imatge no sé com reduïr-la de width*/

#projects-section {
display: flex;
flex-direction: column;
justify-content: center;


}

.projects-items {
justify-content: center;
align-items: center;
align-content: center;
text-align: center;
margin: 30px 30px;
}

.recent-projects {
  text-align: center;
}


.projects-img {
height: 200px;
width: auto;
align-items: center;
margin-top: 30px;
}

  .form-questions {
    background-color: #FFC600;
  }



